# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# Entornos
venv/
.env/
.venv/

# Modelos / datos locales
*.pth
*.pt
*.joblib
*.npz

# Logs/temporal
*.log
.DS_Store
*.tmp

# ======================
# NUEVO: IGNORAR CONTENIDO DE DATA/
# ======================
data/*
!data/.gitkeep

# ======================
# NUEVO: IGNORAR MODELOS/
# ======================
models/