# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# Entornos
venv/
.env/
.venv/

# Modelos / datos locales
*.pth
*.pt
*.joblib
*.npz

# Logs/temporal
*.log
.DS_Store
*.tmp

# ======================
# IGNORAR CONTENIDO DE DATA/
# ======================
data/*
!data/.gitkeep

# ======================
# IGNORAR MODELOS/
# ======================
models/

# ======================
# IGNORAR RESULTADOS DE VALIDACIÓN CRUZADA
# ======================
cross_validation/results/*
!cross_validation/notes.md
!cross_validation/train_kfold.py