# ======================
# PYTHON BASICS
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# ======================
# ENTORNOS VIRTUALES
# ======================
venv/
.env
.env/
.venv/
env/

# ======================
# IDEs Y CONFIGURACIÓN
# ======================
.vscode/
.idea/
*.sublime-workspace

# ======================
# ARCHIVOS TEMPORALES / LOGS
# ======================
*.log
.DS_Store
*.tmp

# ======================
# DATA (DATASET)
# ======================
# Ignorar todo el contenido de data (imágenes pesadas)
data/*
# Pero mantener la estructura de la carpeta (útil si alguien clona el repo)
!data/.gitkeep

# ======================
# MODELOS (MODELS) - CRÍTICO
# ======================
# 1. Ignorar todo dentro de la carpeta models
models/*

# 2. EXCEPCIÓN: CALORIES.JSON! (Tu trabajo manual)
!models/calories.json

# Seguridad extra para archivos pesados sueltos en cualquier lado
*.pth
*.pt
*.joblib
*.npz
*.ckpt

# ======================
# VALIDACIÓN CRUZADA
# ======================
cross_validation/results/*
!cross_validation/notes.md
!cross_validation/train_kfold.py